
<h2 class="text-center mb-5">BBVA</h2>


<div *ngIf="!isLoggedin === true">
  <section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="form-area login-form">
                    <div class="form-content">
                        <h2>BBVA Market Social</h2>
                        <p>Queremos invitarte a que conozcas las novedades a travez de nuestra plataforma digital</p>
                        <ul>
                            
                            <li>
                               <!-- <div *ngIf="!isLoggedin"> -->
                              <button type="button" (click)="loginWithFacebook()" routerLink="/home" routerLinkActive="active" class="btn btn-primary btn-block">Ingresa con Facebook</button>
                             
                             
                            </li>
                            
                        </ul>
                    </div>
                    <div class="form-input">
                        <h2>Ingresar</h2>
                        <form>
                            <div class="form-group">
                                <input type="text"  id="" name="name" required>
                                <label>Usuario</label>
                            </div>
                            <div class="form-group">
                                <input type="password" id="" name="password" required>
                                <label>Contraseña</label>
                            </div>
                            <div class="myform-button">
                                <button class="myform-btn">Ingresar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section> 
</div>
 
<router-outlet></router-outlet>
