<!-- <app-register-user></app-register-user> -->

<h2 class="text-center mb-5">BBVA</h2>

<!-- <div *ngIf="!isLoggedin">
  <button type="button" (click)="loginWithFacebook()" class="btn btn-primary btn-block">Signin with Facebook</button>
</div>

<div *ngIf="isLoggedin === true">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
  </div>
  <div class="form-group">
    <label>ID</label>
    <input type="text" class="form-control" [value]="socialUser.id" id="email" readonly>
  </div>

  <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
</div> -->
<!-- <router-outlet></router-outlet> -->

 <section class="myform-area">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="form-area login-form">
                  <div class="form-content">
                      <h2>BBVA Market Social</h2>
                      <p>Queremos invitarte a que conozcas las novedades a travez de nuestra plataforma digital</p>
                      <ul>
                          
                          <li>
                             <!-- <div *ngIf="!isLoggedin"> -->
                            <button type="button" (click)="loginWithFacebook()" class="btn btn-primary btn-block">Ingresa con Facebook</button>
                           <!-- </div> -->

                           <!-- <div *ngIf="isLoggedin === true">
                            <div class="form-group">
                              <label>First Name</label>
                              <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
                            </div>
                            <div class="form-group">
                              <label>Last Name</label>
                              <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
                            </div>
                            <div class="form-group">
                              <label>Email</label>
                              <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
                            </div>
                            <div class="form-group">
                              <label>ID</label>
                              <input type="text" class="form-control" [value]="socialUser.id" id="email" readonly>
                            </div>
                          
                            <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
                          </div>  -->

                            <button type="button" class="btn btn-primary btn-block">Ingresa con Google</button>
                          </li>
                          
                      </ul>
                  </div>
                  <div class="form-input">
                      <h2>Ingresar</h2>
                      <form>
                          <div class="form-group">
                              <input type="text"  id="" name="name" required>
                              <label>Usuario</label>
                          </div>
                          <div class="form-group">
                              <input type="password" id="" name="password" required>
                              <label>Contraseña</label>
                          </div>
                          <div class="myform-button">
                              <button class="myform-btn">Ingresar</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> 


<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '188219412973255',
      cookie     : true,
      xfbml      : true,
      version    : 'v1'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> -->